# -----------------------------------------------------------------------------
# Python
# -----------------------------------------------------------------------------

__pycache__/
*.py[cod]
*.pyo

# -----------------------------------------------------------------------------
# Virtual Environment
# -----------------------------------------------------------------------------

.venv/
venv/

# -----------------------------------------------------------------------------
# IDE
# -----------------------------------------------------------------------------

.vscode/
.idea/

# -----------------------------------------------------------------------------
# Operating System
# -----------------------------------------------------------------------------

.DS_Store
Thumbs.db

# -----------------------------------------------------------------------------
# Python caches
# -----------------------------------------------------------------------------

.pytest_cache/
.mypy_cache/

# -----------------------------------------------------------------------------
# Logs
# -----------------------------------------------------------------------------

*.log

# -----------------------------------------------------------------------------
# Temporary files
# -----------------------------------------------------------------------------

*.tmp
*.bak

# -----------------------------------------------------------------------------
# Environment variables
# -----------------------------------------------------------------------------

.env
.env.*

# -----------------------------------------------------------------------------
# Jupyter Notebook
# -----------------------------------------------------------------------------

.ipynb_checkpoints/